{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Profile</h1>

    <div class="card p-4 shadow-sm">


        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}"
                 class="img-fluid rounded mb-3"
                 style="max-width: 200px;">
        {% else %}
            <p>No profile picture</p>
        {% endif %}


        <h4>{{ request.user.username }}</h4>

        <p><strong>Bio:</strong></p>
        <p>{{ profile.bio|default:"No bio yet." }}</p>

        <a href="{% url 'profile_edit' %}" class="btn btn-warning mt-3">
            Edit Profile
        </a>

    </div>

</div>
{% endblock %}